NEXT_API_URL=Your backend API URL for server side
NEXT_PUBLIC_API_URL=Your backend API URL for client side
NEXTAUTH_SECRET= Your secret key for NextAuth
NEXTAUTH_URL= Your frontend URL
NEXT_PUBLIC_SOCKET_API=Your backend API URL for Socket

# env variables for firebase
NEXT_PUBLIC_FIREBASE_API_KEY= Your firebase API key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN= Your firebase auth domain
NEXT_PUBLIC_FIREBASE_PROJECT_ID= Your firebase project id
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET= Your firebase storage bucket
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID= Your firebase messaging sender id
NEXT_PUBLIC_FIREBASE_APP_ID= Your firebase app id
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID= Your firebase measurement id