@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #f0f3f3;
}

button {
  transition: 0.2s ease-in-out;
}

button:active,
button:hover {
  transform: translateY(-2px);
}

.btn-transform-none {
  transform: none !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.thin-scrollbar::-webkit-scrollbar {
  scrollbar-width: thin;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.thin-scrollbar {
  -ms-overflow-style: initial;
  scrollbar-width: thin!important;
}